// Estilos para a página de política de privacidade

.politica-de-privacidade {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;

    .politica-container {
        max-width: 800px;
        margin: 0 auto;
        background-color: #fff;
        padding: 1.5rem;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .politica-header {
        text-align: center;

        h1 {
            font-size: 2.5rem;
            color: #333;
        }

        .politica-atualizacao {
            font-size: 0.9rem;
            color: #666;
            margin-top: 0.3rem;
        }

        .politica-introducao {
            font-size: 1rem;
            color: #555;
            margin-top: 0.3rem;
            line-height: 1.3;
        }
    }

    .politica-secao {
        margin: 3px;
        /* Ajustado para consistência com Termos de Uso */

        .politica-titulo {
            font-size: 1.5rem;
            color: #222;
            margin-bottom: 0.3rem;
            /* Ajustado para consistência */
        }

        .politica-texto {
            font-size: 1rem;
            color: #444;
            line-height: 1.4;
            /* Ajustado para consistência */
            margin-bottom: 0.3rem;
            /* Ajustado para consistência */
        }

        .politica-lista {
            margin-top: 0.3rem;
            /* Ajustado para consistência */
            padding-left: 1rem;

            li {
                font-size: 1rem;
                color: #444;
                margin-bottom: 0.2rem;
                /* Ajustado para consistência */
                line-height: 1.3;
                /* Ajustado para consistência */
            }
        }
    }
}