/* =======================================================================
   Media Query para telas com largura máxima de 1024px (Tablets)
======================================================================== */
@media (max-width: 1024px) {
    :root {
        /* Ajuste de tamanhos de fonte para telas menores */
        --font-size-4xl: 2rem;
        --font-size-3xl: 1.75rem;
        --font-size-2xl: 1.375rem;
    }

    .header-container {
        flex-direction: column;
        gap: var(--spacing-4);
        padding: var(--spacing-4);

        .header-profile {
            margin-bottom: var(--spacing-2);
        }

        .profile-name {
            font-size: var(--font-size-xl);
        }
    }

    .nav-list {
        gap: var(--spacing-4);
    }

    .footer-container {
        gap: var(--spacing-3);
        padding: 0 var(--spacing-6);

        .social-icons {
            gap: var(--spacing-6);

            .social-icon {
                width: 100px;
                height: 40px;
                font-size: var(--font-size-md);
                padding: 8px;

                i {
                    margin-right: 6px;
                }
            }
        }
    }
}